.button{
  padding: 15px;
  font-size: 10px;
  background-color: red;
  color: white
}

.name-container, .character-container{
  margin-top: 45px;
}

.image-container{
  display:flex;
  justify-content: center;
}

.character-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 45px;
  grid-column-gap: 10px;
}