.button{
  padding: 15px;
  font-size: 10px;
  background-color: red;
  color: white
}

.name-container, .character-container{
  margin-top: 45px;
}

.image-container{
  display:flex;
  justify-content: center;
}

.character-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 45px;
  grid-column-gap: 10px;
}

.characters{
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: grid;
}

img {
  height: 300px
}

.character-btn{
  background-color: red;
  color: white;
  font-size: 16px;
  padding: 5px;
  margin-bottom: 20px;
}

.nav-btn{
  background-color: brown;
  color: white;
  font-family: 'Rock Salt', cursive;
  font-size: medium;
  font-weight: bold;
}

.btn-container{
  display: flex;
  justify-content: space-evenly;
}

body{
  background-image: url("../../public/marioClouds.png");
}

.title{
  font-family: 'Rampart One', cursive;
  font-size: 100px;
  margin-bottom: 20px;
  color: red;
}

.intro-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}